*{
    font-family: 'Nunito', sans-serif;
    line-height: 1.3rem;
}

/* headerここから */
.header{
    margin: auto;
    height: 6vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    opacity: 0.9;
    padding: 0 20px;
}
.headerleft{
    width: 30%;
}
.headerleft p{
    color: white;
    font-size: 18px;
}
.person{
    border: none;
    margin-left: 10px;
}
.headerright{
    width: 55%;
    display: flex;
    justify-content: end;
    gap: 5px;
    padding-right: 10px;
}
.headerright a{
    font-size: 12px;
}
.nav__wrapper{
    display: flex;
    gap: 20px;
    justify-content: start;
}
.nav__item{
    list-style: none;
}   
.nav__wrapper a{
    text-decoration: none;
    color: white;
}
.input{
    width: 35vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(194, 192, 192);
}
.headerbottom{
    border: 0.3px solod grey;
}
.undertext{
    font-size: 12px;
}

/* bodyここから */
.main{
    margin: 50px 0;
}
.listcontents{
    display: flex;
    gap: 20px;
    align-items: center;
}
.listcontents img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
}
.listcontents img:hover{
    transform: translateX(5px);
}

.listcontents .contenttext2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60vw;
    height: 15vw;
    border-radius: 5px;
    font-size: 14px;
    text-align: start;
    background-color: rgb(248, 245, 245);
    box-shadow:0 0 5px 0 rgb(218, 216, 216);
    opacity: 0.75;
    padding: 0 0 0 30px;
    margin: 15px;
}
.listcontents .contenttext2:hover{
    opacity: 1;
    box-shadow:0 0 5px 3px rgb(218, 216, 216);
    transform: translateX(5px);
}
.cancelbtn{
    width: 20vw;
    background-color: rgb(44, 43, 43);
    color: white;
    border-radius: 3px;
    padding: 0.2rem;
    font-size: 12px;
}
.cancelbtn:hover{
    opacity: 0.9;
}
.textdeco{
    margin: 0;
}