*{
    font-family: 'Nunito', sans-serif;
    line-height: 1.4rem;
}

/* headerここから */
.header{
    margin: auto;
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    opacity: 1;
}
.homelink{
    text-decoration: none;
    color: white;
    background-color: black;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 1px 1px 0 0 grey;
    padding: 0.3rem;
}
.headerleft{
    width: 40%;
}
.headerleft p{
    color: white;
}
.person{
    border: none;
    margin-left: 10px;
}
.headerright{
    width: 55%;
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-right: 10px;
}
.nav__wrapper{
    display: flex;
    gap: 20px;
    justify-content: start;
}
.nav__item{
    list-style: none;
}   
.nav__wrapper a{
    text-decoration: none;
    color: white;
}
.input{
    width: 35vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(194, 192, 192);
}
.submit,.photo{
    background-color: rgb(13, 13, 14);
    font-size: 14px;
    padding: 0.2em;
    color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 0 0 rgb(153, 153, 165);
}
.submit:hover,.photo:hover{
    opacity: 0.8;
}
/* headerここまで */


body{
    background-color: rgb(36, 35, 35);
    width: 100vw;

}
/* ユーザー側 */
.usercm{
    width: 10vw;
    min-width: 150px;
    padding: 0.2rem;
    height: auto;
    background-color: rgb(193, 217, 241);
    border-radius: 5px;
    right: 10px;
    box-shadow: 1px 1px 0 0 rgb(153, 153, 165);
    margin-right: 20px;
    margin-left: auto;
    position: relative;
    font-size: 14px;
}
.servicecm{
    width: 10vw;
    min-width: 150px;
    padding: 0.2rem;
    height: auto;
    background-color:white;
    border-radius: 5px;
    right: 5px;
    box-shadow: 1px 1px 0 0 rgb(195, 195, 204);
    position: relative;
    margin-left: 10px;
    font-size: 14px;
}
.trash{
    position: absolute;
    right: 5px;
    bottom: 0.2rem;
    height: 1.2rem;
    background-color: rgb(101, 136, 211);
    vertical-align: middle;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 rgb(221, 217, 217);
}